:root {
  --color-primary: #001f3f;
}
html,
body {
  height: 100%;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: min-content;
  grid-gap: 10px;
  height: 100%;
}
.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
}
.header .server {
    grid-column: 1 / -1;
}
.card {
  border-bottom: 1px solid #ccc;
  margin: 1em;
  padding-bottom: 1em;
}
.card.selected {
  border-right: 4px solid #ccc;
}
#progress {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;

}
.notifications {
  grid-column: 1 / -1;
}
.notifications button {
  box-shadow: none;
  float: right;
}
.main > .feed-list ,
.main > .feed-entries ,
.main > .feed-content {
  overflow-y: auto;
}
.align-right {
    float: right;
}
.actions ul {
  list-style-type: none;
}
.sync-failed,
li.sync-failed > a {
    color: red;
}
.inactive,
li.inactive > a {
    color: grey;
}
